## Imports and Constants

In [4]:
import pandas as pd
import enum
class Sentiments(enum.Enum):
    POS = 'POS'
    NEG = 'NEG'

In [5]:
df = pd.read_csv('data/reviews.csv')
df

       rating                                             review
0          50  This is one of the best hotels I've ever staye...
1          50  Everything about this hotel was awesome. The s...
2          50  Our tour group stayed here for two nights.  Th...
3          50  Excellent service at Porta Hotel Antigua. From...
4          50  I almost always stay at Hotel Antigua when I t...
...       ...                                                ...
15677      40  Last week I stayed at the Camino Real in Antig...
15678      50  My boyfriend was in Guate on business and we d...
15679      40  I stayed at Camino Real Antigua for a conferen...
15680      50  Was in Antigua for the weekend, attending an A...
15681      40  very nice little hotel, brand new, with lots o...

[15682 rows x 2 columns]

In [6]:
df['rating'] = df['rating'].astype(dtype='int64')

In [7]:
df['sentiment'] = df['rating'].apply(lambda x: Sentiments.POS.value if x >= 40 else Sentiments.NEG.value)
df

       rating                                             review sentiment
0          50  This is one of the best hotels I've ever staye...       POS
1          50  Everything about this hotel was awesome. The s...       POS
2          50  Our tour group stayed here for two nights.  Th...       POS
3          50  Excellent service at Porta Hotel Antigua. From...       POS
4          50  I almost always stay at Hotel Antigua when I t...       POS
...       ...                                                ...       ...
15677      40  Last week I stayed at the Camino Real in Antig...       POS
15678      50  My boyfriend was in Guate on business and we d...       POS
15679      40  I stayed at Camino Real Antigua for a conferen...       POS
15680      50  Was in Antigua for the weekend, attending an A...       POS
15681      40  very nice little hotel, brand new, with lots o...       POS

[15682 rows x 3 columns]

In [8]:
# split 70, 15, 15
train = df.copy()
test = train.sample(frac = 0.30)
train = train.drop(test.index)
validation = test.sample(frac = 0.5) # 0.5 because it's half of .3
test = test.drop(validation.index)

In [37]:
os.makedirs('data', exist_ok=True)
train.to_csv('data/train.csv', index=False)
test.to_csv('data/test.csv', index=False)
validation.to_csv('data/validation.csv', index=False)